{% extends "main.html" %}

{% block title %}Oferta{% endblock title %}

{% block main %}
<div class="app-content">
  <div class="row">
    <!-- Pierwsza kolumna -->
    <div class="col-md-6">
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="card-title col-6"><strong>Opis oferty</strong></div>
          <div class="text-muted col-6 text-end"><strong>Status: {{ offer.status }}</strong></div>
        </div>
        <!--end::Header-->
        
        <!--begin::Body-->
        <div class="card-body">
          <p class="muted">
            {{offer.description}}
          </p>
        </div>
        <!--end::Body-->
      </div>
      {% if notes %}
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title"><strong>Twoje notatki</strong></h3>
        </div>
        <!-- /.card-header -->
         
        <div class="card-body p-0">
          <table class="table table-sm">
            <tbody>
            {% for note in notes %}
              <tr class="align-middle">
                <td>{{ note.content }}</td>
                <td><button class="btn btn-danger btn-sm" onclick="confirmDelete('note', '{{ note.id }}')"> Usuń</button></td>
                <td><a class="btn btn-primary btn-sm" href="#">Edytuj</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      {% endif %}
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header"><div class="card-title">Dodaj notatkę</div></div>
        <!--end::Header-->
        <!--begin::Form-->
        <form method="POST">
            {% csrf_token %}
            <!--begin::Body-->
            <div class="card-body">
                {% for field in form %}
                <div class="mb-3">
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            <!--end::Footer-->
        </form>
        <!--end::Form-->
    </div>
    </div>
    
    <!-- Druga kolumna -->
    <div class="col-md-6">
      <div class="small-box text-bg-warning">
        <div class="inner">
          {% if offer.client_type.model == "companyclient" %}
          <h2>Dane firmy</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Nazwa: {{ offer.client.company_name }}</p>
              <p>NIP: {{ offer.client.nip }}</p>
            </div>
            <div class="col-md-6">
              <p>Email: {{ offer.client.email }}</p>
              <p>Telefon: {{ offer.client.phone }}</p>
            </div>
          </div>
          {% elif offer.client_type.model == "individualclient" %}
          <h2>Dane klienta</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Imię: {{ offer.client.name }}</p>
              <p>Nazwisko: {{ offer.client.last_name }}</p>
            </div>
            <div class="col-md-6">
              <p>Email: {{ offer.client.email }}</p>
              <p>Telefon: {{ offer.client.phone }}</p>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-6">
              <p>Adres: {{ offer.client.address }}</p>
            </div>
            <div class="col-md-6">
              <p>Region: {{ offer.client.region }}</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="col-6"><h3 class="card-title"><strong>Produkty związane z ofertą</strong></h3></div>
          <div class="col-6 text-end"><a class="btn btn-primary btn-sm" href="{% url 'add-product-to-offer' offer.id %}">Dodaj produkty</a></div>
        </div>
        <!-- /.card-header -->
        {% if products %}
        <div class="card-body p-0">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Numer/Kod produktu</th>
                <th>Nazwa</th>
                <th>Cena zakupu</th>
                <th>Cena sprzedaży</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr class="align-middle">
                <td>{{ product.serial_number }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.purchase_price }}</td>
                <td>{{ product.sale_price }}</td>
                <td><button class="btn btn-danger btn-sm" onclick="confirmDeleteProductFromOffer('{{offer.id}}', '{{product.id}}')"> Usuń z oferty</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main %}
