{% extends "main.html" %}

{% block title %}Oferta{% endblock title %}

{% block main %}
<div class="app-content">
  <div class="row">
    <!-- Pierwsza kolumna -->
    <div class="col-md-6">
      <div class="card card-primary card-outline mb-4">
        <!--begin::Header-->
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="card-title">Opis oferty</div>
          <div class="text-muted"><strong>Status: {{ offer.status }}</strong></div>
        </div>
        <!--end::Header-->
        
        <!--begin::Body-->
        <div class="card-body">
          <p class="muted">
            Tutaj pojawią się ogólne założenia oferty nad którą pracujesz
          </p>
        </div>
        <!--end::Body-->
      </div>
    </div>
    
    <!-- Druga kolumna -->
    <div class="col-md-6">
      <div class="small-box text-bg-warning">
        <div class="inner">
          {% if offer.client_type.model == "companyclient" %}
          <h2>Dane firmy</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Nazwa: {{ offer.client.company_name }}</p>
              <p>NIP: {{ offer.client.nip }}</p>
            </div>
            <div class="col-md-6">
              <p>Email: {{ offer.client.email }}</p>
              <p>Telefon: {{ offer.client.phone }}</p>
            </div>
          </div>
          {% elif offer.client_type.model == "individualclient" %}
          <h2>Dane klienta</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Imię: {{ offer.client.name }}</p>
              <p>Nazwisko: {{ offer.client.last_name }}</p>
            </div>
            <div class="col-md-6">
              <p>Email: {{ offer.client.email }}</p>
              <p>Telefon: {{ offer.client.phone }}</p>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-6">
              <p>Adres: {{ offer.client.address }}</p>
            </div>
            <div class="col-md-6">
              <p>Region: {{ offer.client.region }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
