{% extends "main.html" %}
{% block title %}Oferty{% endblock title %}
{% block main %}
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        Tutaj pojawią się opcje sortowania na bieżąco i opcje usuwania wielu naraz
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="card-title">Lista ofert</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    {% if settings.show_created %}
                      <th>Data</th>
                    {% endif %}
                    {% if settings.show_client %}
                      <th>Klient</th>
                    {% endif %}
                    {% if settings.show_description %}
                      <th>Opis</th>
                    {% endif %}
                    {% if settings.show_client_address %}
                      <th>Adres</th>
                    {% endif %}
                    {% if settings.show_client_region %}
                      <th>Region</th>
                    {% endif %}
                    {% if settings.show_client_email %}
                      <th>Email</th>
                    {% endif %}
                    {% if settings.show_client_phone %}
                      <th>Telefon</th>
                    {% endif %}
                    {% if settings.show_status %}
                      <th>Status</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                <tr class="align-middle" onclick="window.location='{% url 'offer' offer.id %}';" style="cursor: pointer;">
                    {% if settings.show_created %}
                      <td>{{ offer.created }}</td>
                    {% endif %}
                    {% if settings.show_client %}
                      <td>{{ offer.client }}</td>
                    {% endif %}
                    {% if settings.show_description %}
                      <td>{{ offer.description }}</td>
                    {% endif %}
                    {% if settings.show_client_address %}
                     <td>{{ offer.client.address}}</td>
                    {% endif %}
                    {% if settings.show_client_region %}
                      <td>{{ offer.client.get_region_display }}</td>
                    {% endif %}
                    {% if settings.show_client_email %}
                      <td>{{ offer.client.email}}</td>
                    {% endif %}
                    {% if settings.show_client_phone %}
                      <td>{{ offer.client.phone}}</td>
                    {% endif %}
                    {% if settings.show_status %}
                      <td>{{ offer.status }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
{% endblock main %}