{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
      <!--begin::Brand Link-->
      <a href="{% url 'index' %}" class="brand-link">
        <!--begin::Brand Image-->
        <img
          src="{% static 'images/flowtrack_logo.jpg' %}"
          alt="FlowTrack Logo"
          class="brand-image opacity-75 shadow"
        />
        <!--end::Brand Image-->
        <!--begin::Brand Text-->
        <span class="brand-text fw-light">FlowTrack</span>
        <!--end::Brand Text-->
      </a>
      <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-header">OFERTY</li>
          <li class="nav-item">
            <a href="{% url 'offers' %}" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Oferty w toku</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-box-arrow-in-right"></i>
              <p>
                Zarchiwizowane
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Wszystkie</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Zaakceptowane</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Odrzucone</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Stwórz ofertę</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'statuses' %}" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Edytuj statusy</p>
            </a>
          </li>
          <li class="nav-header">Klienci</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-box-arrow-in-right"></i>
              <p>
                Lista klientów
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'clients' 'all' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Wszyscy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'clients' 'com' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Firmy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'clients' 'ind' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Prywatni</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-box-arrow-in-right"></i>
              <p>
                Dodaj klienta
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'create-client' 'com' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Firma</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'create-client' 'ind' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Prywanty</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">Produkty</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Przeglądaj produkty</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Dodaj produkty</p>
            </a>
          </li>
          <li class="nav-header">Lista zadań</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Kalendarz</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Zaplanuj zadania</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-download"></i>
              <p>Zaplanuj spotkanie</p>
            </a>
          </li>
        </ul>
        <!--end::Sidebar Menu-->
      </nav>
    </div>
    <!--end::Sidebar Wrapper-->
  </aside>