{% extends "main.html" %}
{% block title %}Lista klientów{% endblock title %}
{% block main %}
<div class="app-content">
    {% if company_client_list %}
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="card-title">Firmy</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Nazwa firmy</th>
                    <th>NIP</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Adres</th>
                    <th>Region</th>
                  </tr>
                </thead>
                <tbody>
                {% for client in company_client_list %}
                  <tr class="align-middle">
                    <td>{{ client.company_name }}</td>
                    <td>{{ client.nip }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.region }}</td>
                    <td><button class="btn btn-danger btn-sm" onclick="confirmDelete('companyclient', '{{ client.id }}')"> Usuń</button></td>
                    <td><a class="btn btn-primary btn-sm" href="{% url 'update-client' client.id 'com' %}">Edytuj</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  {% endif %}
  {% if individual_client_list %}
  <!--end::App Content-->
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="card-title">Klienci prywatni</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Adres</th>
                    <th>Region</th>
                  </tr>
                </thead>
                <tbody>
                {% for client in individual_client_list %}
                  <tr class="align-middle">
                    <td>{{ client.name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.region }}</td>
                    <td><button class="btn btn-danger btn-sm" onclick="confirmDelete('individualclient', '{{ client.id }}')"> Usuń</button></td>
                    <td><a class="btn btn-primary btn-sm" href={% url 'update-client' client.id 'ind' %}>Edytuj</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!--end::Row-->
    </div>
    {% endif %}
    <!--end::Container-->
  </div>
  <script>
    function confirmDelete(modelName, objectId) {
        let confirmAction = confirm("Czy na pewno chcesz usunąć ten obiekt?");
        if (confirmAction) {
            let lastPage = window.location.href;  // Pobiera aktualny adres URL
            window.location.href = `/delete/${modelName}/${objectId}/?lastpage=${encodeURIComponent(lastPage)}`;
        }
    }
</script>
  <!--end::App Content-->
{% endblock main %}